main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.receitas img {    
    width: 80%;
    height: 33%;
    margin: 5px;
}


.cards-receitas li {
    text-align: center;
    font-size: 17px;
}

.receita-titulo {
    font-size: 22px;
    font-weight: arial;
}


